Esquemas/Esquema 14.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="vuelos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="vuelo" maxOccurs="unbounded">
        <xs:complexType>
        <xs:all>
        <xs:element name="origen" type="xs:normalizedString" minOccurs="1" maxOccurs="1"/>
        <xs:element name="destino" type="xs:normalizedString" minOccurs="1" maxOccurs="1"/>
        </xs:all>
        </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
