Esquemas/Esquema 12.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="aeropuertos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="aeropuerto" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="nombre" type="xs:normalizedString" minOccurs="1" maxOccurs="1"/>
            <xs:element name="cerrado" minOccurs="0" maxOccurs="1"/>
          </xs:sequence>
        </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
